MONGO_URI=

PORT=8000

RABBITMQ_URL=amqp://dev:devpassword@localhost:5672

# Frontend
FRONTEND_URL= /* CURRENT NOT AVAILABLE*/

# Server
PORT=8000

# Gemini AI (Get your free API key from https://makersuite.google.com/app/apikey)
GEMINI_API_KEY=