# Database
MONGO_URI=

WORKER_COUNT = 3

WORKER_ID = 'worker-1'

# Frontend
FRONTEND_URL=http://localhost:5173  # not working for now

RABBITMQ_URL_WITH_CREDENTIALS = ""

# Server
PORT=8000

# Gemini AI (Get your free API key from https://makersuite.google.com/app/apikey)
GEMINI_API_KEY=